<!--
  Angled Template
-->

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      import * from "./AngledApplication.angl.js";
      import * from "./AngledLoadApp.angl.js";
      
      LoadApp(AngledApplication, document);
    </script>
    <title>Angled | Template application.</title>
  </head>
  <body>
    <h1>
      Initializing Angled components...
    </h1>
    <noscript>
      <h1>
        Uh-oh!
      </h1>
      <br>
      <p>
        It appears that you don't have JavaScript toggled!
        <br>
        Please turn on JavaScript to render special components needed for this website.
      </p>
    </noscript>
  </body>
</html>
